<html>
<head>
    <title>MyCodeBlog</title>
    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>

    <header>
        <!-- As a heading -->
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">MyCodeBlog</span>
            </div>
        </nav>
    </header>

    <section>
        <div class="container" style="width: 60%; padding-bottom: 30px;">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                    <li class="breadcrumb-item active" aria-current="page">Posts</li>
                </ol>
            </nav>

            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
    </section>

</body>

</html>